<h2>details</h2>
<table>
    <tr>
        <td>user_id</td>
        <td><%= @article.user_id %></td>
    </tr>
    <tr>
      <td>description</td>
      <td><%= @article.description %></td>
    </tr>
    <tr>
        <td>title</td>
        <td><%= @article.title %></td>
    </tr>
    <tr>
        <td>link</td>
        <td><%= @article.content %></td>
    </tr>
    <tr>
        <td>create_time</td>
        <td><%= @article.created_at %></td>
    </tr>
</table>
